@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.leaflet-container {
  height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-control-attribution {
  color: #f3f3f38c !important;
  font-size: 0.65rem;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/* Leaflet SVG logo */
.leaflet-control-attribution .leaflet-attribution-flag {
  width: 0.65rem;
  height: auto;
}

/* Link */
.leaflet-control-attribution a {
  color: #f3f3f38c !important;
  text-decoration: none;
}
